body
{
  background-color: #DCD7C9;
}

h1
{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2
{
  text-align: center;
}

img
{

  width: 270px;
  height: 270px;
}

footer
{
  text-align: center;
  font-size: 50px;
}
